.product-card {
    background: #D4ECE0;
    /* xanh nhạt */
    width: 250px;
    border-radius: 16px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
}

.product-card:hover {
    transform: translateY(-4px);
}

.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.product-name {
    font-size: 1rem;
    font-weight: 500;
    margin: 12px 0;
    color: #222;
    font-family: 'Segoe UI', sans-serif;
}

.product-price {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(255, 66, 66);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .ButtonTry {
    width: 212.63229370117188;
    height: 44.510597229003906;
    top: 410.12px;
    left: 64px;
    border-radius: 10px;
    opacity: 1;
} */