.product-detail-container {
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    width: 90vw;
    margin: 0 auto;
    position: relative;
}

.product-detail-closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
}

.product-detail-main1 {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.product-detail-img {
    width: 250px;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}

.product-detail-info {
    flex: 1;
    color: black;
}

.product-detail-info h2 {
    margin-bottom: 12px;
}

.product-detail-name,
.product-detail-desc {
    margin-bottom: 8px;
    line-height: 1.4;
}

.product-detail-main2 {
    margin-bottom: 20px;
}

.product-detail-note label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

.product-detail-note textarea {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
    font-size: 16px;
    background: #f0f0f0;
    color: black;
}

.product-detail-main3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-detail-qty {
    display: flex;
    align-items: center;
    gap: 16px;
    color: black;
}

.qty-control {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    color: black;
}

.qty-control button {
    background: #ddd;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 16px;
}

.qty-control span {
    padding: 6px 12px;
    min-width: 30px;
    text-align: center;
}

.product-detail-actions {
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
    gap: 40px;
}

.product-detail-cartButton button,
.product-detail-payButton button {
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.increase,
.decrease {
    color: black;
}