.checkout-container {
    padding: 2rem;
    background-color: white;
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 100px auto 50px auto;
    color: black;
}

.checkout-header {
    background-color: #e3e3e3;
    padding: 1rem;
    margin-bottom: 2rem;
}

.checkout-header span {
    font-weight: 500;
}

.default-label {
    color: red;
    font-size: 0.9rem;
    margin-left: 8px;
}

.change-address {
    color: blue;
    font-weight: bold;
    margin-left: 12px;
    cursor: pointer;
}

.checkout-table {
    background-color: #e3e3e3;
    padding: 1rem;
}

.checkout-row {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #bbb;
}

.checkout-row.header {
    font-weight: bold;
    border-bottom: 2px solid black;
}

.product-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.product-info img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.product-name {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.product-note {
    color: red;
    font-size: 0.9rem;
}

.checkout-total {
    text-align: right;
    padding: 1rem;
    font-weight: bold;
    color: red;
}

.checkout-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: #e3e3e3;
    padding: 1rem;
}

.payment-methods p {
    margin: 0.5rem 0;
}

.payment-buttons {
    display: flex;
    gap: 1rem;
}

.payment-buttons button {
    background-color: #a195ff;
    border: none;
    padding: 0.5rem 1rem;

    cursor: pointer;
    border-radius: 4px;
}

.terms {
    font-size: 0.9rem;
    margin-top: 1rem;
}

.summary {
    text-align: right;
}

.summary p {
    margin: 0.5rem 0;
}

.total-final {
    font-weight: bold;
    color: red;
}

.order-button {
    margin-top: 1rem;
    background-color: #ff7f7f;
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.term {
    color: blue;
    font-size: 1rem;
}

.checkout-youcanlove {
    margin-top: 50px;
    align-items: center;
}

.checkout-youcanlove h4 {
    display: flex;
    justify-content: center;
}

.selected-bank-info {
    background-color: #f9f9ff;
    padding: 7px 16px;
    margin-top: 6px;
    border-left: 4px solid #3b82f6;
    border-radius: 8px;
    font-size: 14px;
    color: #111827;
}